header{

	border-bottom-width: 2px;
	border-bottom-style: outset;
	border-radius: 6px;
	height: 15%;
	min-height: 150px;

	background-image: linear-gradient(315deg,#FFFFFF 0%, #bb0b0b  74%);
}
.menugauche
{
	font-size: 30px;
	width: 35%

}
#menumilieu
{
	width: 20%;
}
.menudroite{
	width: 35%;
	flex-wrap: wrap;
	justify-content: space-around;
}
#panier {
	width: 10%;
}
.menu{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	max-height: 150px;

}
body{
	background-color: lightgrey;
}
#menumilieu img
{
	height: 100%;
	width: 100%;
}
#panier img{
	height: 100%;
	width: 100%;

}
footer{
	height: 20px;
	width: 100%;
	border-radius: 6px;
	background-image: linear-gradient(315deg,#FFFFFF 0%, #bb0b0b  74%);
}
.liste{
	background-color: white;
	margin: 2%;
}