
body {
	height: 100%;
	background-image: url(../images/imagedefond.png);
	background-repeat: no-repeat;
	background-position: center;

}

.naviguation {
	width:45%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom:50px;

}
#menu, #menu ul {
	padding: 0;
	margin-left: 1px;
	margin-right: 1px;
	list-style: none;
	text-align: center;

}

#menu li {
	display: inline-block;
	position: relative;
	border: solid transparent 1px;
	border-radius: 0 0 3px 3px;

}
#sousmenu {
	background-color:#ff4000;
}
#sousmenu:hover{
	background-color:#ff704d;
}
#menu>li {
	margin-top: 2px;
	border-radius: 4px 4px 4px 4px;
	background-color: #ffd11a;
}
#menu>li:hover {
	background-color: #ffe066;
}

#menu ul li {
	display: inherit;
	border-radius:0;
}

#menu ul li:last-child{
	border-radius:0 0 8px 8px;
}
#menu ul{
	position:absolute;
	max-height:0;
	left: 0;
	right: 0;
	overflow:hidden;
	-moz-transition: .6s all .2s;
	-webkit-transition: .4s all .2s;
	transition: .6s all .2s;
}
#menu li:hover ul{
	max-height:15em;
	display: block;
}
#menu a{
	text-decoration:none;
	display: block;
	padding:8px 32px;
	color:black;
	font-family:fantasy;
}

#titre {
	width: 30%;


}
header {
	display: flex;
	border-bottom-width: 2px;
	border-bottom-style: outset;
	border-bottom-color: rgba(0,0,0,0.2);
	border-radius: 6px;
	align-items: flex-start;
	justify-content: flex-start;
	height: 15%;
	min-height: 150px;
	background-color: #ff4e00;
	background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}
header>div{
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
	min-height: 150px;
	margin: auto;
}
#punchline {
	width:25%;
	height: 100%;
	overflow: hidden;
	font-family: cursive;
}

#punchline div {
	display: inline-block;
	padding-right: 2em;
	padding-left: 100%;
	white-space: nowrap;
	animation: defilement-rtl 15s infinite linear;
}

@keyframes defilement-rtl {
	0% {
		transform: translate3d(0,0,0);
	}
	100% {
		transform: translate3d(-100%,0,0);
	}
}

#logoh{
	height: 100%;
	width: 10%;
	justify-content: center;
}

#imageh{
	height: 100%;
	width: 100%;
	padding-left: 10px;
}

#imagetitreh{
	width:100%;
	height: 100%;
}

.centre {
	margin-right: 5%;
	margin-left: 5%;
	height: 35%;

}

footer{
	height: 15%;
	display : flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ff4e00;
	background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
	border-top-width: 2px;
	border-top-color: rgba(0,0,0,0.2);
	border-top-style: outset;
	border-radius: 6px;


}
footer div  {
	width: 20%;
	max-height: 150px;
	height: 90%;
	display: flex;
	align-items: flex-start;
	padding-left: 3em;
	padding-bottom: 6px;
	flex-direction: column;
	justify-content: center;
	border-top-width: 2px;
	border-top-style: outset;
	border-top-color: rgba(0,0,0,0.1);
}

.logosponsor {
	max-height: 150px;
	max-width: 150px;
	height: 100%;
}


img.logosponsor:hover{
	opacity: 0.5;
}


/* ---------------------------Pour le style de base de la page ---------------------------------------- */