<!DOCTYPE html>
<html>

<head>
        <!-- L'en-tête du document avec au moins un titre -->
		<link rel="stylesheet" type="text/css" href="../css/style.css">
        <meta charset="utf-8">
        <title>Classic</title>
</head>

<body>

	<!--------------header--------->
  <header>
    <div class="menu">
     	<div class="menugauche">
     		<a class="textmenugauche" href="voiturevendu.html">Voiture que nous avons vendu</a>
     	</div>
     	<div class="menumilieu">
     		<a href="accueil.html"><img src="../Images/logo.jpeg" ></a>
     	</div>
     	<div class="menudroite">
     		<a class="textmenudroite" href="monCompte.html">Mon Compte</a>
     	</div>
     	<div>
     		<img src="../Imagesm.jpg" alt="">
     	</div>
    </div>
    </header>

    <!---------header---------------->

    
       

    <!-------------footer-------------------------> 
    <footer>
      
    <div>
      <a href="produit.html">
      <img class="logosponsor" src="images/logo-final.png" alt="notre logo ">
      </a>
    </div>
    <div>
      <a href="http://www.sponsor4.com">
      <img class="logosponsor" src="images/sponsor1.png" alt="Sponsor 1">
      </a>
    </div>
    <div>
      <a href="http://www.sponsor4.com">
      <img class="logosponsor" src="images/sponsor2.png" alt="Sponsor 2">
      </a>
    </div>
    <div>
      <a href="http://www.sponsor3.com">
      <img class="logosponsor" src="images/sponsor3.png" alt="Sponsor 3">
      </a>
    </div>
    <div>
      <a href="http://www.sponsor4.com">
      <img class="logosponsor" src="images/sponsor4.png" alt="Sponsor 4">
      </a>
    </div>
  
    
          

    </footer>


<!----------footer----------->



</body>


</html>




